<div class="container">

  <div class="card">

    <div class="card-header p-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-lock-open p-2"></i>Recuperar contrasena
      </h5>
    </div>

    <div class="card-body">
      <form class="row g-3" [formGroup]="recoverPasswordForm" (ngSubmit)="this.recoverPassword()" novalidate="">

        <div class="col-12">
          <label class='form-label'>Codigo: </label>
          <input type="text" class='form-control text-uppercase' formControlName="code">
        </div>
        @if (recoverPasswordForm.get('code')?.invalid) {
          <div class="alert alert-danger" role="alert">El codigo debe tener 6 caracteres entre letras y numeros</div>
        }

        <div class="col-6">
          <label class="form-label">Nueva contrasena: </label>
          <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="col-6">
          <label class="form-label">Confirmar nueva contrasena: </label>
          <input type="password" class="form-control" formControlName="confirmPassword">
        </div>

        @if (recoverPasswordForm.hasError('passwordsMismatch')) {
          <div class="alert alert-danger" role="alert" >Las contraseñas no coinciden</div>
        }

        <div class="card-footer p-2">
          <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="recoverPasswordForm.invalid">
              <i class="fa-solid fa-lock"></i> Cambiar contrasena
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
