<div>
  <div class="banner">
    <a routerLink="/"><img ngSrc="/images/logo.png" width="200" height="200" priority alt="logo"></a>
    <nav class="hdButtons">
      <ul>
        <li><a routerLink="/login">Iniciar sesion</a></li>
        <li><a routerLink="/register">Registrarse</a></li>
      </ul>
    </nav>
  </div>
  <div class="text-center types row">
      @for (item of eventTypes; track $index){
        <div class="col type-button"><a>{{item}}</a></div>
      }
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      @for (event of events; track $index){
        <div class="card" style="width: 18rem;">
          <img src="{{event.coverImg}}" class="card-img-top" alt="event img">
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
          </div>
          <div class="card-body">
            <a routerLink="/events/detail-event/{{event.id}}" class="card-link">Ver detalle</a>
          </div>
        </div>
      }
    </div>

  </div>
</div>
<div>
  <p>{{footer}}</p>
</div>
